.homeImage {
    background-image: url("../../assets/austin.jpeg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    background-size: 55%;
    border: 4mm #C3B299 ridge;
    padding: 120px;
}

.homeTitle {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    color: #23022E;
    font-size: 75px;
    margin: 50px auto;
    text-align: center;
}

.homeSubTitle {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #23022E;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
}

.homeSubSubTitle {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #23022E;
    font-size: 30px;
    margin: 10px auto;
    text-align: center;
}

.spacer {
    min-height: 90px;
}

body {
    background-color: #CBD4C2;
}
    