.recipesTitle {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    color: white;
    font-size: 75px;
    text-shadow: 2px 2px rgb(187, 35, 35);
    margin: 50px auto;
    text-align: center;
}

.modelListItem {
    height: 100%;
    width: 100%;
    max-width: 300px;
    background-color: white;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 15px -7px;
    position: relative;
}

.modalListBadges {
    margin-bottom: -5px;
    overflow: auto;
}

.modelListHeader {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    overflow: auto;
}

.modalListBadges, .modelListHeader {
    padding-left: 5%;
}

.modelListImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -15px 15px 0px rgba(255,255,255,1) inset;
}

.modelListButton {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    background: transparent;
    border: transparent;
}

.recipesList {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(270px, auto);
}